from pathlib import Path

from fhir.resources.codesystem import CodeSystem

from oops_fhir.utils import CodeSystemConcept


__all__ = ['{{ resource.name | camel_case }}']

_resource = CodeSystem.parse_file(Path(__file__).with_suffix(".json"))


class {{ resource.name | camel_case }}:
    """
    {{ resource.title }}

    {{ resource.description | wrap }}

    Status: {{ resource.status }} - Version: {{ resource.version }}

    Copyright {{ resource.copyright }}

    {{ resource.url }}
    """
    {% if resource.concept %}
    {% for concept in resource.concept %}
    {{ concept.code | snake_case }} = CodeSystemConcept({{ concept.json() | json_to_py }})
    """
    {{ concept.display }}

    {{ concept.definition or '' }}
    """
    {% endfor %}
    {% endif %}


    class Meta:
        resource = _resource
