"""
{{ resource.title }}

{{ resource.description | wrap }}

Status: {{ resource.status }} - Version: {{ resource.version }}

Copyright {{ resource.copyright }}

{{ resource.url }}
"""
from pathlib import _Path

from fhir.resources.codesystem import _CodeSystem

{% if resource.content == 'complete' %}

{% if resource.concept %}
__all__ = [{% for concept in resource.concept %}
'{{ concept.code | snake_case }}',
{% endfor %}]
{% endif %}

{% for concept in resource.concept %}
{{ concept.code | snake_case }} = {{ concept.json() | json_to_py }}
"""
{{ concept.display }}

{{ concept.definition or '' }}
"""
{% endfor %}

{% endif %}

__resource = _CodeSystem.parse_file(_Path(__file__).with_suffix(".json"))
