from pathlib import Path

from fhir.resources.codesystem import CodeSystem

from oops_fhir.utils import CodeSystemConcept

{% if resource.content == 'complete' %}

_resource = CodeSystem.parse_file(Path(__file__).with_suffix(".json"))

{% if resource.concept %}

__all__ = ['{{ resource.name | camel_case }}']


class {{ resource.name | camel_case }}:
    """
    {{ resource.title }}

    {{ resource.description | wrap }}

    Status: {{ resource.status }} - Version: {{ resource.version }}

    Copyright {{ resource.copyright }}

    {{ resource.url }}
    """

    {% for concept in resource.concept %}
    {{ concept.code | snake_case }} = CodeSystemConcept({{ concept.json() | json_to_py }})
    """
    {{ concept.display }}

    {{ concept.definition or '' }}
    """
    {% endfor %}

    class Meta:
        resource = _resource

{% endif %}

{% endif %}
