"""
{{ resource.title }}

{{ resource.description | wrap }}

Status: {{ resource.status }} - Version: {{ resource.version }}

Copyright {{ resource.copyright }}

{{ resource.url }}
"""
from pathlib import Path

from fhir.resources.codesystem import CodeSystem

{% if resource.content == 'complete' %}

{% if resource.concept %}
__all__ = [{% for concept in resource.concept %}
'{{ concept.code | snake_case }}',
{% endfor %}]
{% endif %}

{% for concept in resource.concept %}
{{ concept.code | snake_case }} = {{ concept.json() | json_to_py }}
""" {{ concept.definition or concept.display }} """
{% endfor %}

{% endif %}

resource = CodeSystem.parse_file(Path(__file__).with_suffix(".json"))
