{% set values = resource | get_values %}
"""
{{ resource.title or resource.name}}

{{ resource.description | wrap }}

Status: {{ resource.status }} - Version: {{ resource.version }}

{{ resource.url }}
"""
from pathlib import Path as _Path

from fhir.resources.valueset import ValueSet as _ValueSet

{% for i in values.imports %}
{% if i[1] %}
from {{ i[0] }} import (
    {% for k,v in i[1].items() %}
    {{ k }}{{ ' as ' + v  if k != v else ''}},
    {% endfor %}
)
{% endif %}
{% endfor %}

{% if values.all_member %}
__all__ = {{ values.all_member }}
{% endif %}

{% for k, v in values.concepts.items() %}
{{ k }} = {{ v.json() | json_to_py}}
""" {{ v.definition or v.display }} """
{% endfor %}

__resource = _ValueSet.parse_file(_Path(__file__).with_suffix(".json"))
